<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'form' %>   
      <% if params.has_key?(:commit) %>
        <%= render 'results' %>
      <% end %>
  </div>
</section>