<section class="section">
  <div class="container">
    <div class="box">
      <%= render 'form' %>
    </div>    
    <% if params.has_key?(:commit) %>
      <div class="box">
      <%= render 'results' %>
    <% end %>
  </div>
</section>