<div class="box">
  <div class="panel is-primary">
    <div class="panel-heading">
      <h3 class="title is-3 has-text-white">New Booking</h3>
    </div>
    <div class="panel-block">
      <strong>Selected Flight</strong>
    </div>
    <div class="panel-block">
      <p><%= @flight.info %></p>
    </div>
    <div class="panel-block">
      <p><%= @flight.pretty_departure_date %></p>
    </div>
  </div>
</div>